.Toastify__toast-container {
  width: 320px;
  user-select: none;
}
.Toastify__toast--default {
    background: #fff;
    color: #aaa;
    border-radius: 4px;
    text-align: center;
 }
  .Toastify__toast--info {
    background: #3498db;
    border-radius: 4px;
    text-align: center;
 }
  .Toastify__toast--success {
    background: #3ede9b;
    border-radius: 4px;
    text-align: center;
 }
  .Toastify__toast--warning {
    background: #f1c40f;
    border-radius: 4px;
    text-align: center;
 }
  .Toastify__toast--error {
    background: #e61319;
    border-radius: 4px;
    text-align: center;
 }